@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body,
a,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Maven Pro', 'Bebas Neue', Arial, Helvetica, sans-serif;

}

:root {
    --cor0: white;
    --cor1: #0D9488;
    --cor2: #46e2d9;
    --cor3: #7bf2ec;

    --fonte-padrao: 'Bebas Neue', Arial, Helvetica, sans-serif;
    --fonte-links: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fonte-android: 'idroid';
}




.headerResponsivo {
    display: block;
    background-image: linear-gradient(to top, var(--cor2) 0.01%, var(--cor1));
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;



}


.header {
    display: flex;
    background-image: linear-gradient(to top, var(--cor2) 0.01%, var(--cor1));
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
    padding: 5px 30px;





}



.logoResponsivo {
    display: flex;
    padding: 5px;



}

.navResponsivo {
    display: flex;
    letter-spacing: 2px;
    font-size: smaller;
}

#openMenu,
#closeMenu {

    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
}

.logo {
    display: flex;
    max-width: 200px;
    padding: 10px;


}

a {
    text-decoration: none;
    color: white;
}

#menu {
    display: flex;


}

#menu>li {
    margin-left: 10px;
}

#menu>li>a {
    padding: 10px 15px;
}

.menu-principal {
    padding: 10px 15px;
    font-weight: 600;
    font-size: smaller;

}

.menu-principal:hover {

    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    transition-duration: 0.3s;
}



.banner {

    color: white;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.937);
    background-size: cover;



}

section.banner>h1 h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;






}

section#img01 {
    background-image: url('imagens/crutches-538883_1920.jpg');
    background-position: center, center;
    height: 70vh;
    text-align: center;
    position: relative;
    display: block;



}

.pbanner {
    background-color: #00000044;
    height: 60vh;
    width: 90vw;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;





}

section>div>h1 {
    font-size: 6vw;
    text-shadow: 0px 0px 20px black;

    position: absolute;
    top: 30%;
    left: 13%;
    transform: translate(-4%, -30%);






}

section>div>h2 {
    font-size: 3vw;
    padding-top: 40px;
    text-shadow: 0px 0px 5px black;

    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-6%, -70%);




}

.subtitulo {
    color: #0D9488;
    font-size: medium;
}

.atendimento {
    padding-top: 40px;
    padding-bottom: 100px;

}

.depoimento {
    background-color: #0F172A;
    color: white;
}

.endereco {
    padding-bottom: 60px;


}

.blocalizacao {
    display: block;

}

.dilocal {
    display: block;
    margin: auto;
}

.localizacao {
    background-color: rgba(230, 230, 230, 0.714);
    width: 300px;
    height: 150px;
    border-radius: 30px;
    padding: 20px;
    display: inline-block;
    margin: 10px;


}

/*.diframe {
    display: block;
    margin: auto;
}*/

iframe {
    width: 600px;
    height: 600px;
    margin: auto;
    display: block;

}

.agendar {
    background-color: #46e2d9;
    height: 100px;
    padding-top: 70px;
    padding-bottom: 200px;

}

h3 {

    font-size: 3.5em;
    font-weight: 100;
    text-align: center;
    line-height: 1em;

}

section>p {
    text-align: center;
    font-size: x-large;
    font-weight: 200;
    padding: 20px;

}

section>p>a {
    color: #0D9488;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.307);

}

section>p>a:hover {
    text-decoration: underline;
    background-color: aliceblue;

}

footer {
    display: block;
    background-color: #0F172A;
    color: white;
    padding: 10px;




}

.footer0 {
    background-color: rgba(0, 0, 255, 0);
    display: flex;





}


.footer1 {
    background-color: #8639f900;



    height: 250px;
    width: 270px;
    padding: 20px 10px 10px 10px;
    margin: auto;

    font-size: 1em;


}

.imgfooter {
    max-width: 250px;
    padding: 0px 0px 20px 0px;




}


.footer2 {
    padding: 30px;
    line-height: 0.8em;
    text-align: center;



}

.ftitulo {
    font-size: 1.3em;
    padding: 22px 0px;
}

.footer1>p>a {
    font-size: 1em;
    line-height: 2em;


}