@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;



}

html {
    scroll-behavior: smooth;

    /*Efeito de deslizamento ao clicar em um botão que direcionara para uma parte do site atual, não esqueça de colocar o id no destino e o nome do id no link que sera o botão.*/
}

body,
a,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'idroid', 'Maven Pro', 'Bebas Neue', Arial, Helvetica, sans-serif;

}

:root {
    --cor0: white;
    --cor1: #0D9488;
    --cor2: #46e2d9;
    --cor3: #7bf2ec;

    --fonte-padrao: 'Bebas Neue', Arial, Helvetica, sans-serif;
    --fonte-links: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fonte-android: 'idroid';
}




.headerResponsivo {
    display: block;
    background-image: linear-gradient(to top, var(--cor2) 0.01%, var(--cor1));
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;



}


.header {
    display: flex;
    background-image: linear-gradient(to top, var(--cor2) 0.01%, var(--cor1));
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
    padding: 5px 30px;





}



.logoResponsivo {
    display: flex;
    padding: 5px;




}

.navResponsivo {
    display: flex;
    letter-spacing: 2px;
    font-size: smaller;
}



#openMenu,
#closeMenu {

    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
}

.logo {
    display: flex;
    max-width: 220px;
    padding: 10px;


}

a {
    text-decoration: none;
    color: white;
}

#menu {
    display: flex;


}

#menu>li {
    margin-left: 10px;
}

#menu>li>a {
    padding: 10px 15px;
}

.menu-principal {
    padding: 10px 15px;
    font-weight: 600;
    font-size: smaller;

}

.menu-principal:hover {

    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    transition-duration: 0.3s;
}



.banner {

    color: white;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.937);
    background-size: cover;





}

section {
    scroll-margin-top: 90px;
    /*ainda não entendi como funciona, mas ele corrige a rolagen dos botões de navegação do site, que estavam descento alguns pixel a mais do esperado.*/
}

section.banner>h1 h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;


}

h3 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;

}


#img01 {
    background-image: url('imagens/crutches-538883_1920.jpg');
    background-position: center, center;
    height: 70vh;
    text-align: center;
    position: relative;
    display: block;




}


.pbanner {
    background-color: #0000001e;
    height: 60vh;
    width: 90vw;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;








}

section>div>h1 {
    font-size: 6vw;
    text-shadow: 0px 0px 20px black;

    position: absolute;
    top: 30%;
    left: 13%;
    transform: translate(-4%, -30%);






}

section>div>h2 {
    font-size: 3vw;
    padding-top: 40px;
    text-shadow: 0px 0px 5px black;

    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-6%, -70%);




}

.subtitulo {
    color: #0D9488;
    font-size: medium;
}

.atendimento {
    padding-top: 40px;
    padding-bottom: 100px;

}

.depoimento {
    background-image: linear-gradient(to left top, #46e2da10, #46e2da29, #46e2da18);
    background-color: #0F172A;
    color: white;
}



.blocalizacao {
    display: block;


}


.dilocal {
    background-color: rgba(137, 43, 226, 0);
    padding: 40px 30px 40px 30px;


    display: flex;
    /* Ativa o flexbox */
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
    justify-content: space-between;
    /* Distribui o espaço entre os itens na linha */
    gap: 50px;
    /* Adiciona espaçamento entre os itens e linhas (opcional, mas recomendado) */



}

#endereco {
    background-color: #ffffff;
}

.fideback:hover {
    background-color: #b3eae815;
}

.fideback {


    background-color: #46e2da10;
    width: 430px;
    height: 300px;
    border-radius: 20px;
    padding: 30px 30px;
    margin: auto;



    box-sizing: border-box;

    border: 1px solid rgba(251, 251, 251, 0.096);

}

.localizacao {
    background-color: #DDFAF8;
    width: 300px;
    height: 180px;
    border-radius: 20px;
    padding: 20px 25px;
    margin: auto;



    box-sizing: border-box;


}

.imgAspas {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.imgEnde {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.estrela {
    height: 25px;
    width: 25px;
    border-radius: 10px;
    display: inline-block;
    margin: -3px;



}

.imgDepo {
    height: 60px;
    width: 60px;
    border-radius: 200px;
    border: 2px solid #0D9488;
}

.imgflex {
    display: flex;
    /*Essa class possui dentro dela um (p) com uma (img) dentro do (p), mais uma (div) com dois (p) dentro da (div). O flex faz o (p) se separar da (div) colocando uma em cada lado.*/
    align-items: center;
    /*O align-items alinha oque esta de um lado com oque estádo outro.*/
    gap: 1em;
    /*Gap separa os dois o quanto eu quiser.*/
}

.nomedocliente {
    font-weight: 600;
    padding: 5px 0px;


}

.tempodefreguesia {
    color: #ffffff80;
}

.depoimentos {
    font-weight: 300;
    padding: 10px 0px 30px 0px;
}

.plocali {
    font-weight: 600;
    padding: 10px 0px;
}

.plocali1 {
    padding: 5px 0px;
    color: #000000b6;

}

.plocali2 {
    padding: 5px 0px;
    color: #0000008a;


}

.diframe {
    background-color: #ffffff;
    position: relative;


    padding: 20%;

}

.diframe1 {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.258);
    background-color: #ffffff;
    position: absolute;
    padding: 5px 5px;
    display: flex;
    width: 250px;
    border-radius: 20px;
    align-items: center;


    position: absolute;
    top: 85%;
    left: 27%;
    transform: translate(-10%, -10%);



}



.plocali3 {
    font-weight: 600;
    padding-left: 5px;

}


.plocali4 {
    padding-left: 5px;
}



iframe {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.148);

    border-radius: 30px;

    position: absolute;
    top: 5%;

    left: 5%;
    width: 90%;
    height: 90%;
    max-width: 700px;
    max-height: 700px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);





}

.imgEnde1 {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.agendar {
    background-color: #46e2d9;
    height: 100px;
    padding-top: 70px;
    padding-bottom: 200px;


}

h3 {

    font-size: 3.5em;
    font-weight: 100;
    text-align: center;
    line-height: 1em;


}

section>p {
    text-align: center;
    font-size: x-large;
    font-weight: 200;
    padding: 20px 10px 40px 10px;

}

section>p>a {
    color: #1fc4b6;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.141);



}

section>p>a:hover {
    text-decoration: underline;
    background-color: aliceblue;

}

footer {
    display: block;
    background-color: #0F172A;
    color: white;
    padding: 10px;







}

.footer0 {
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-wrap: wrap;



}

.fhover:hover {
    color: var(--cor2);

}



.footer1 {
    background-color: #8639f900;


    padding: 20px 10px 20px 10px;
    margin: 0px auto auto auto;


    font-size: 1em;


}

.imgfooter {
    max-width: 250px;
    padding: 5px 0px 20px 0px;
    width: 500px;




}

.pfooter {

    max-width: 500px;
}


.footer2 {
    padding: 30px;
    line-height: 0.8em;
    text-align: center;



}

.ftitulo {
    font-size: 1.3em;
    padding: 22px 0px;

}


.footer1>p>a {
    font-size: 1em;
    line-height: 2em;



}